.add-item-page {
  background-color: rgb(250, 250, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: 100vh;
}

.add-item-card {
  position: absolute;
  height: 60vh;
  width: 64vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.248);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-item-card h2{
  margin-top: -25px;
  margin-bottom: 25px;
}

.add-item-card form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-item-card form input, textarea{
  display: block;
  width: 20vw;
  height: 4vh;
  padding: 3px 6px;
  margin: 1vh 0 1vh 0;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.248);
}


/* textarea {
  height: 4vh;
  width: 20vw;
  margin: 5px 0;
} */

.close-button{
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  color: rgba(128, 128, 128, 0.6);
  height: 4vh;
  width: 2vw;
  font-size: 1.2em;
}

.close-button:hover{
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.262);
  border-radius: 2px;
}

.close-button:active{
  transform: scale(1.1);
  color: rgba(128, 128, 128, 0.7);
}


.item-submit-button {
  height: 5vh;
  width: 10vw;
  border-radius: calc(5vh/2);
  border: none;
  color: white;
  background-color: black;

  margin-top: 30px;
  font-size: 1rem;
}

.item-submit-button:hover {
  cursor: pointer;
}

form {
  display: block;
}